@import url('https://fonts.googleapis.com/css2?family=Nata+Sans:wght@100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

*{
    font-family: Outfit;
}

@layer base {
    html {
        scroll-behavior: smooth;
    }
}

::-webkit-scrollbar{
    display: none;
}

.rich-text {font-size: 15px; color: #7A7B7D}
.rich-text p{ margin-bottom:16px;  }
.rich-text h1 {font-size: 36px; font-weight: 800; color: #252525; margin-top: 30px} 
.rich-text h2 {font-size: 22px; font-weight: 700; color: #252525; margin-top: 30px} 
.rich-text h3 {font-size: 12px; font-weight: 600; color: #333333; margin-top: 30px} 
.rich-text h4 {font-size: 16px; font-weight: 500; color: #333333; margin-top: 30px} 
.rich-text h5 {font-size: 14px; font-weight: 400; color: #333333; margin-top: 30px} 
.rich-text h6 {font-size: 14px; font-weight: 400; color: #333333; margin-top: 30px} 

.rich-text strong {font-weight: 700;}
.rich-text ol {margin-left:30px; list-style-type: decimal;}
.rich-text ul {margin-left:30px; list-style-type: disc;}
.rich-text li {margin-bottom:  8px;}